In [6]:
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
df= sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [10]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

Step 2 — Handle Missing Values

but no missing values here

Step 3 — Handle Outliers

In [11]:
#Focus on numeric columns
df.select_dtypes(include='number').columns

Index(['total_bill', 'tip', 'size'], dtype='object')

In [13]:
#Detect outliers using IQR (for total_bill)
Q1=df['total_bill'].quantile(0.25)
Q3=df['total_bill'].quantile(0.75)
IQR=Q3-Q1

lower=Q1-1.5*IQR
upper=Q3+1.5*IQR

In [ ]:
#Cap outliers
df['total_bill']=df['total_bill'].clip(lower,upper)

Step 4 — Feature Scaling

In [14]:
num_cols = ['total_bill', 'tip', 'size']

In [18]:
from sklearn.preprocessing import StandardScaler


scaler=StandardScaler()
df[num_cols]=scaler.fit_transform(df[num_cols])

Step 5 — Feature Engineering

In [ ]:
#Create a new feature: Tip Percentage

df['tip_percent']=df['tip']/df['total_bill']

In [20]:
df

     total_bill       tip     sex smoker   day    time      size  tip_percent
0     -0.314711 -1.439947  Female     No   Sun  Dinner -0.600193     4.575454
1     -1.063235 -0.969205    Male     No   Sun  Dinner  0.453383     0.911562
2      0.137780  0.363356    Male     No   Sun  Dinner  0.453383     2.637217
3      0.438315  0.225754    Male     No   Sun  Dinner -0.600193     0.515050
4      0.540745  0.443020  Female     No   Sun  Dinner  1.506958     0.819277
..          ...       ...     ...    ...   ...     ...       ...          ...
239    1.040511  2.115963    Male     No   Sat  Dinner  0.453383     2.033580
240    0.832275 -0.722971  Female    Yes   Sat  Dinner -0.600193    -0.868669
241    0.324630 -0.722971    Male    Yes   Sat  Dinner -0.600193    -2.227066
242   -0.221287 -0.904026    Male     No   Sat  Dinner -0.600193     4.085318
243   -0.113229  0.001247  Female     No  Thur  Dinner -0.600193    -0.011010

[244 rows x 8 columns]

In [21]:
#Encode categorical variables

df=pd.get_dummies(df,columns=['sex','smoker','day','time'],drop_first=True)

Step 6 — Feature Selection

In [23]:
#Correlation with target (tip)
corr=df.corr()['tip'].sort_values(ascending=False)
corr

tip            1.000000
total_bill     0.675734
size           0.489299
day_Sun        0.125114
time_Dinner    0.121629
tip_percent    0.004451
day_Sat       -0.002790
smoker_No     -0.005929
day_Fri       -0.055463
sex_Female    -0.088862
Name: tip, dtype: float64

In [24]:
#Select useful features
selected=corr[abs(corr)>0.1].index
df=df[selected]

In [25]:
df.isnull().sum()

tip            0
total_bill     0
size           0
day_Sun        0
time_Dinner    0
dtype: int64

In [26]:
df.shape

(244, 5)